<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<div class="logo"></div>
		</head>
		<body>
			<nav>
	    		<ul>
	    		    <li><a href="/">Home</a></li>	    		    
	    		    <li><a href="/research">Research Areas</a></li>	  
	    		    <!--<li><a href="/projects">Projects</a></li>	    		    -->
	    		    <li><a href="/team">Team</a></li>	    		    
	    		    <li><a href="/blog">Blog</a></li>	    		    
	    		    <li><a href="/about">About</a></li>	    		    
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jonice@dcc.ufrj.br">email</a></li>
	        		<li><a href="https://github.com/labcores">github.com/labcores</a></li>
	        		<li>phonenumber: +55 21 39383281</li>
				</ul>
			</footer>
		</body>
	</html>