<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	    		    <li><a href="/">Home</a</li>
	    		    <li><a href="/about">About</a</li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:laboratoriocores@gmail.com">email</a></li>
	        		<li><a href="https://github.com/labcores">github.com/labcores</a></li>
	        		<li>telefone: +55 (21) 3938-3281</li>
				</ul>
			</footer>
		</body>
	</html>